/*use pixels and media queries to prevent resizing with zooms*/


.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .rectangle-container {
    margin-top: 50px;
    height: 600px; /* 583.2px */
    width: 440px;
    border-radius: 40px;
    border: 4px solid #91D4E9;
    background-color: rgb(255, 255, 255);
  }
  
  .nav-bar {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7%;
    width: 100%;
    position: relative; /* Make the container position relative */
  }
  
  .nav-bar-text {
    color: #0B6DBD;
    margin: 0;
  }

  .nav-bar-text:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  
  .nav-bar-underline {
    height: 2.5px;
    width: 250px;
    background-color: #0B6DBD;
    position: absolute;
    bottom: 0; /* Align the underline to the bottom of the .nav-bar container */
    left: 50%; /* Center the underline horizontally within the .nav-bar container */
    transform: translateX(-50%); /* Adjust for the width of the underline */
  }

  .mid-info{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 88%;
    width: 100%;
    padding: 28px;
    padding-top: 16px;
  }

  .main-text{
    margin:0;
    color: black;
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 28px;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
  }

  .sub-text{
    font-size: 14px;
    margin:0;
    color: black;
    font-family: 'Figtree', sans-serif;
    margin-top: 5px;
  }

  .required-fields-text{
    display: flex;
    margin-top: 0px;
    height: 30px;
  }

  .email-form {
    margin-top: 0px;
    box-shadow: none;
    width: 375px;
    height: 40px;
    border-radius: 5px;
    outline: 2px solid rgba(255, 255, 255, 0.39);
}

.email-form:focus {
    outline: 2px solid red;
}

.email-form.valid {
    outline: 2px solid green;
}

  .password-form{
    box-shadow: none;
    width: 375px;
    height: 40px;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.39)
  }

  .password-form:focus {
    outline: 2px solid red;
}

.password-form.valid {
    outline: 2px solid green;
}

  .recovery-password-form{
    box-shadow: none;
    width: 375px;
    height: 40px;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.39)
  }
 
  .recovery-password-form:focus {
    outline: 2px solid red;
}

.recovery-password-form.valid {
    outline: 2px solid green;
}
  .confirm-recovery-password-form{
    box-shadow: none;
    width: 375px;
    height: 40px;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.39)
  }

  .confirm-recovery-password-form:focus {
    outline: 2px solid red;
}

.confirm-recovery-password-form.valid {
    outline: 2px solid green;
}

  .submit{
    width: 125px;
    align-self: center;
    margin-top: 10px;
    height: 60px;
    background-color: #0B6DBD;
    color: white;
    border-radius: 50px;
    border-width: 0px;
    font-family: 'Figtree', sans-serif;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .submit:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgb(0, 0, 0.3);
  }

  .submit:active{
    transform: translateY(0);
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  }

  .help{
    align-self: center;
    font-size: 13px;
    margin-top: 5px;
  }